/* DEVELOPER: Benjamin Kustanovich, IS117-001, Fall 2021 */
@font-face {
    font-family: Metal;
    src: url("fonts/IronManOfWar001ANcv-6d2Y.ttf");
}
#page_title{
    text-decoration: underline;
    text-align: center;
    padding-bottom: 20px;
    font-family: Metal, sans-serif;
    font-size: 400%;
}
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
}
h3 {
    font-family: Metal, sans-serif;
    font-size: 300%;
    text-align: center;
}
footer{
    background-color: black;
    clear: both;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 200px;
}